#heading{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 10px;
}
#todo-input,#todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
.button-todo{
    background-color: rgb(40, 209, 17);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;

}
.button-delete{
    background-color: rgb(156, 13, 13);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}